<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LibroVisita" value="Visitas.xml"></add>
	</appSettings>

  <!--La etiqueta connectionStrings en el archivo WebConfig me sirve para establecer la conexión entre las clases de la capa de Persistencia hacía la capa de presentación.-->
  <connectionStrings>
    <add name="BiblioCnnStr"
         connectionString="Data source=.;Initial Catalog=BIBLIOTECA;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Windows"/>

    
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
